/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/Transit-Tracker
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.envdev
.envprod
/public/*.js
!/public/workbox*.js
!/public/service-worker.js
/public/js
/public/css
/public/packages
/public/vendors~js
/public/vendor
/public/mix-manifest.json
.php_cs.cache
.php_cs
.phpstorm.meta.php
.editorconfig
/invoker
/data.ms
