includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/bensampo/laravel-enum/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined method Spatie[a-zA-Z0-9\\_]+::forUrls\(\)#'

    excludePaths:
        - *Http/Resources/*

    checkMissingIterableValueType: false
